.dataCardList {
    height: 100%;

    &__loader {
        margin-top: var(--guit-ref-spacing-xlarge);
        text-align: center;
    }

    &__item {
        margin: 1rem;
        max-height: 28.8rem;
    }

    &__virtualizedList {
        padding: 0 1rem;
    }
}
